{% extends 'base.html' %}

{% block content %}
    <h3>Update the information for {{manager.name}}</h3>
    <form action="/manager/{{manager.id}}/edit", method="post">
        <ul>
            <li>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{manager.name}}" required maxlength="40">
            </li>
            <li>
                <label for="picture">Picture link: </label>
                <input type="text" id="picture" name="picture" value="{{manager.picture}}" required maxlength="255">
            </li>
        </ul>
        <label for="hidden_form_entry"></label>
        <input type="date" id="hidden_form_entry" name="start_date" value="{{manager.start_date}}" required readonly>
        <input type="submit" value="Confirm information">
    </form>
{% endblock content %}