{% extends 'base.html' %}

{% block content %}
    <h3>Update the information for <a href="/manager/{{manager.id}}">{{manager.name}}</a></h3>
    <form action="/manager/{{manager.id}}/edit", method="post">
        <ul>
            <li>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{manager.name}}" required maxlength="40">
            </li>
            <li>
                <label for="picture">Picture link: </label>
                <input type="text" id="picture" name="picture" value="{{manager.picture}}" required maxlength="255">
            </li>
            <li>
                <label for="start_date">Start date: </label>
                <input type="date" id="start_date" name="start_date" value="{{manager.start_date}}" required readonly>
            </li>
            <li>
                <label for="end_date">End date -Warning- Only enter date on the last day of employment: </label>
                <input type="date" id="end_date" name="end_date">
            </li>
        </ul>

        <input type="submit" value="Confirm information">
    </form>
{% endblock content %}