{% extends 'base.html' %}

{% block content %}
    <h3>Process end of employment for {{manager.name}}</h3>
    <form action="/manager/{{manager.id}}/end-of-employment", method="post">
        <ul>
            <li>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{manager.name}}" required maxlength="40" readonly>
            </li>
            <li>
                <label for="end_date">End date: </label>
                <input type="date" id="end_date" name="end_date" required>
            </li>
            <label for="hidden_form_entry"></label>
            <input type="text" id="hidden_form_entry" name="picture" value="{{manager.picture}}" required maxlength="255" readonly>
            <label for="hidden_form_entry"></label>
            <input type="date" id="hidden_form_entry" name="start_date" value="{{manager.start_date}}" required readonly>
        </ul>
        <input type="submit" value="Confirm information">
    </form>
{% endblock content %}