{% extends 'base.html' %}

{% block content %}
    <h3>Update the information for {{employee.name}}</h3>
    <form action="/employee/{{employee.id}}", method="post">
        <ul>
            <li>
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" value="{{employee.name}}" required maxlength="40">
            </li>
            <li>
                <label for="picture">Picture link: </label>
                <input type="text" id="picture" name="picture" value="{{employee.picture}}" required maxlength="255">
            </li>
            <li>
                <label for="job_description">Job title link: </label>
                <input type="text" id="job_description" name="job_description" value="{{employee.job_description}}" required maxlength="40">
            </li>
            <li>
                <label for="contact_details">Update contact number</label>
                <input type="tel" id="contact_details" name="contact_details" value="{{employee.contact_details}}" required maxlength="15" />
            </li>
            <li>
                <label for="qol_accommodations">Agreed work accommodations: </label>
                <textarea id="qol_accommodations" name="qol_accommodations">
                    {% if employee.qol_accommodations %}
                    {{employee.qol_accommodations}}
                    {% endif %}
                </textarea> 
            </li>
            <li>
                <label for="start_date">Start date: </label>
                <input type="date" id="start_date" name="start_date" value="{{employee.start_date}}" required>
            </li>
            <li>
                <div>
                    <label for="manager">Manager:</label>
                    <select name="manager_id" id="manager">
                        {% for manager in manager_list %}
                        <option value="{{ manager.id }}" {% if manager.id == employee.manager.id %} selected {% endif %}>
                            {{ manager.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>
        <input type="submit" value="Confirm information">
    </form>
{% endblock content %}

<!-- <textarea id="qol_accommodations" name="qol_accommodations">
    {% if employee.qol_accommodations %}
        {{employee.qol_accommodations}}
    {% endif %}
</textarea>  -->

<!-- <li>
    <label for="qol_accommodations">Agreed work accommodations: </label>
    <input type="text" id="qol_accommodations" name="qol_accommodations" value="{{employee.qol_accommodations}}" />
</li> -->