{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Meet our team: </h2>
    <div class="tiles">
        {% for employee in employee_list|sort(attribute='name') if employee.active %}
        <ul>
            <li><img src="{{employee.name}}" placeholder="Picture of {{employee.name}}"></li>
            <li><a href="employee/{{employee.id}}">{{employee.name}}</a></li>
        </ul>
        {% endfor %}
    </div>
    <h3>Add to the team: </h3>
    <nav>
        <ul>
            <li><a href="/evaluation/addnew">Fill out a monthly evaluation</a></li>
            <li><a href="/employee/addnew">Add a new employee to the team</a></li>
        </ul>
        <ul>
            <li><a href="/evaluation">See all employee evaluations</a></li>
        </ul>
    </nav>
    <h4>Previous staff</h4>
    <p>Below a list of employees who have since left the business: </p>
    <ul>
        {% for employee in employee_list|sort(attribute='name') if not employee.active %}
            <li><a href="employee/{{employee.id}}">{{employee.name}}</a> - Last day: {{employee.end_date}}</li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}