{% extends 'base.html' %}

{% block content %}
    <div>
        <img src="{{employee.picture}}" alt="Picture of {{employee.name}}" width="250" height="300">
        <p>{{employee.name}}, {{employee.job_description}} at Cog in the Machine, inc, started on {{employee.start_date}}</p>
        <p>Current agreed work accommodations: {{employee.qol_accommodations}}</p>
        <ul>
            <li>
                <a href="/employee/{{ employee.id }}/edit">Edit employee information</a>
            </li>
        </ul>
    </div>
    <h4>Current Manager:</h4> 
    {% if employee.manager %} 
    <p><strong><a href="/manager/{{employee.manager.id}}">{{employee.manager.name}}</a></strong></p>
    {% else %}
    <p>Not currently assigned. <a href="/employee/{{ employee.id }}/edit">Assign?</a></p>
    {% endif %}
    <h4>Delete employee records</h4>
    <h5>Information retention warning:</h5>
    <p>The company is legally obligated to keep employee pay and tax information for a minimum of 3 years, and employee records for a minimum of six years after the end of employment.</p>
    <p><strong>Please consult a member of the HR or legal team before processing any information deletion requests.</strong></p>
    {% if not employee.active %}
        <form action="/employee/{{employee.id}}/delete", method="post">
            <input type="submit" value="Confirm deletion">
        </form>
    {% endif %}
{% endblock content %}