body {
    margin: 0%;
    background-color: rgb(244, 244, 228);
    padding: 2%;
}

h1 {
    color: rgb(136, 134, 134);
    text-align: center;
    text-decoration: underline;
    border-bottom: 2px solid black;
    padding: 1%;
    margin: 2%;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav ul li {
    padding: 10px;
    list-style: none;
    font-size: 1.3rem;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

footer li {
    padding: 10px;
    list-style: none;
}

footer {
    border-top: 2px solid black;
}

.profile-picture img {
    max-width: 250px;
    max-height: 300px;
    image-rendering: auto;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tiles > ul {
    flex: 1 1 160px;
}

.tiles > ul > li {
    list-style: None;
}

.tiles > ul > ul {
    list-style: disc;
    padding-left: 0px;
}

.tiles img {
    max-width: 100px;
    max-height: 120px;
    image-rendering: auto;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: rgb(211, 211, 211);
  }

  .center {
    text-align: center;
  }