body {
    margin: 0%;
    background-color: rgb(244, 244, 228);
    padding: 2%;
}

h1 {
    color: rgb(136, 134, 134);
    text-align: center;
    text-decoration: underline;
    border-bottom: 2px solid black;
    padding: 1%;
    margin: 2%;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav ul li {
    padding: 10px;
    list-style: none;
    font-size: 1.3rem;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

footer li {
    padding: 10px;
    list-style: none;
}

footer {
    border-top: 2px solid black;
}

.profile-picture img {
    max-width: 250px;
    max-height: 300px;
    image-rendering: auto;
}