<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - Cog in the Machine</title>
</head>
<body>
    <header>
        <h1>Cog in the machine</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/manager">Our Leaders</a></li>
                <li><a href="/employee">Our Crew</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
            
    {% endblock content %}
    <footer>
        <nav>
            <ul>
                <li>Contact</a></li>
                <li>About</a></li>
                <li>Privacy</a></li>
                <li>Feedback</a></li>
            </ul>
        </nav>
    </footer>
</html>