{% extends 'base.html' %}
{% block content %}
    <h3>Information retention warning:</h3>
    <p>The company is legally obligated to keep employee pay and tax information for a minimum of 3 years, and employee records for a minimum of six years after the end of employment.</p>
    <p><strong>Please consult a member of the HR or legal team before processing any information deletion requests.</strong></p>
    {% for manager in managers if manager.active == False %}
            <ul>
                <li>Name : {{manager.name}}</li>
                <li>End of employment : {{manager.end_date}}</li>
                <li>
                    <form action="/deletion/deletemanager/{{manager.id}}/delete" method="post">
                        <input type="submit" value="Delete all information" />
                    </form>
                </li>
            </ul>
    {% endfor %}
{% endblock content %}

<!-- If statement not working? -->