{% extends 'base.html' %}
{% block content %}
    <h3>Information retention warning:</h3>
    <p>The company is legally obligated to keep employee pay and tax information for a minimum of 3 years, and employee records for a minimum of six years after the end of employment.</p>
    <p><strong>Please consult a member of the HR or legal team before processing any information deletion requests.</strong></p>
    <ul>
        <li><a href="/deletion/deletemanager">Delete a former manager's information</a></li>
        <li><a href="/deletion/deleteemployee">Delete a former employee's information</a></li>
        <!-- <li><a href="/deletion/deleteevaluation">Delete a former employee's records</a></li> -->
    </ul>
{% endblock content %}